@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
* {
  box-sizing: border-box; }

body > img {
  max-width: 400px;
  margin: 0 auto;
  display: block; }

.admin > header {
  align-self: stretch;
  background: #ff9d4d;
  padding: 20px 10px;
  display: flex;
  align-items: center; }
  .admin > header h2 {
    margin: 0;
    flex-grow: 1; }
.admin > main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 100%; }
  .admin > main h2 {
    margin: 0;
    padding: 10px;
    background: #eee; }
  .admin > main .loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1; }
  .admin > main table {
    justify-self: stretch;
    border-collapse: collapse;
    margin: 5px;
    width: calc(100% - 10px); }
    .admin > main table td, .admin > main table tr, .admin > main table th {
      border: 1px solid #aaa;
      padding: 7px 5px; }

.payment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Roboto, sans-serif; }
  .payment .loader {
    max-width: 100px; }
  .payment h3 {
    text-align: center; }
  .payment a {
    color: #444;
    margin: 10px 0;
    transition: color .1s ease-in-out; }
    .payment a:hover {
      color: #000; }
  .payment input, .payment select {
    border: #aaa 1px solid;
    padding: 10px;
    font-size: 20px;
    align-self: stretch;
    border-radius: 5px;
    background: #fff;
    width: 100%; }
  .payment iframe {
    border: none; }
  .payment button {
    background-color: #ff7300;
    border: none;
    padding: 10px;
    color: #fff;
    font-size: 20px;
    align-self: stretch;
    transition: background-color .1s ease-in-out;
    border-radius: 5px;
    margin: 10px 0; }
    .payment button:hover {
      background-color: #cc5c00; }
    .payment button:disabled {
      background-color: #aaa;
      color: #cc5c00; }
  .payment .buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .payment .buttons.sideways {
      flex-direction: row; }
      .payment .buttons.sideways button {
        margin: 10px; }
    .payment .buttons img {
      cursor: pointer; }
    .payment .buttons > div {
      margin: 10px 0;
      align-self: stretch; }
  .payment .masterpass {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .payment .StripeElement {
    max-width: 500px;
    width: 100%;
    margin: 20px 0; }
  .payment .CardForm {
    align-self: stretch; }
    .payment .CardForm form {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: 1fr;
      grid-gap: 20px; }
      .payment .CardForm form .disp-card {
        grid-column: 1 / 4;
        grid-row: span 3;
        max-width: 350px;
        justify-self: center;
        width: 100%;
        font-family: monospace;
        perspective: 600px; }
        .payment .CardForm form .disp-card .disp-card-inner {
          padding-top: 63.06%;
          position: relative;
          color: #ddd;
          transform: rotateY(0deg);
          transition: transform 0.5s;
          transform-style: preserve-3d; }
          .payment .CardForm form .disp-card .disp-card-inner .disp-card-front, .payment .CardForm form .disp-card .disp-card-inner .disp-card-back {
            backface-visibility: hidden;
            -webkit-backface-visibility: hidden;
            background: #444;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            position: absolute;
            border-radius: 10px;
            transition: background-color 0.5s; }
          .payment .CardForm form .disp-card .disp-card-inner .focus {
            font-weight: bold;
            color: #fff; }
          .payment .CardForm form .disp-card .disp-card-inner .disp-card-front .disp-card-pads {
            background-color: #ccc;
            border-radius: 5px;
            width: 50px;
            height: 35px;
            left: 40px;
            top: 50%;
            position: absolute;
            transform: translateY(-150%); }
          .payment .CardForm form .disp-card .disp-card-inner .disp-card-front .disp-card-number {
            position: absolute;
            top: 50%;
            font-size: 20px;
            left: 0;
            right: 0;
            text-align: center;
            letter-spacing: 2px; }
          .payment .CardForm form .disp-card .disp-card-inner .disp-card-front .disp-card-name {
            font-size: 18px;
            bottom: 30px;
            left: 40px;
            position: absolute; }
          .payment .CardForm form .disp-card .disp-card-inner .disp-card-front .disp-card-expiry {
            bottom: 60px;
            left: 40px;
            position: absolute; }
          .payment .CardForm form .disp-card .disp-card-inner .disp-card-front .disp-card-cvc {
            top: 50%;
            right: 40px;
            transform: translateY(-100%);
            position: absolute;
            opacity: 0;
            transition: opacity 0.1s ease-in-out; }
          .payment .CardForm form .disp-card .disp-card-inner .disp-card-front .brand-icon {
            position: absolute;
            top: 40px;
            right: 40px; }
          .payment .CardForm form .disp-card .disp-card-inner .disp-card-back {
            transform: rotateY(180deg); }
            .payment .CardForm form .disp-card .disp-card-inner .disp-card-back .disp-card-magstripe {
              position: absolute;
              top: 15px;
              height: 50px;
              background: #ccc;
              left: 0;
              right: 0; }
            .payment .CardForm form .disp-card .disp-card-inner .disp-card-back .disp-card-signature {
              position: absolute;
              top: 40%;
              height: 30px;
              background: #fff;
              left: 20px;
              right: 70px; }
            .payment .CardForm form .disp-card .disp-card-inner .disp-card-back .disp-card-cvc {
              position: absolute;
              top: 40%;
              right: 20px; }
          .payment .CardForm form .disp-card .disp-card-inner.amex .disp-card-front .disp-card-cvc {
            opacity: 1; }
          .payment .CardForm form .disp-card .disp-card-inner.flip:not(.amex) {
            transform: rotateY(180deg); }
      .payment .CardForm form .card-name {
        grid-column: 1 / 4; }
      .payment .CardForm form .card-number {
        grid-column: 1 / 4; }
      .payment .CardForm form .card-expiry {
        grid-column: 1 / 3; }
      .payment .CardForm form .card-cvc {
        grid-column: 3; }
      .payment .CardForm form .phone, .payment .CardForm form .email, .payment .CardForm form button, .payment .CardForm form .address {
        grid-column: 1 / 4; }

.apple-pay-button-with-text {
  padding: 20px; }

@supports (-webkit-appearance: -apple-pay-button) {
  .apple-pay-button-with-text {
    display: inline-block;
    -webkit-appearance: -apple-pay-button;
    -apple-pay-button-type: buy; }

  .apple-pay-button-with-text > * {
    display: none; }

  .apple-pay-button-black-with-text {
    -apple-pay-button-style: black; }

  .apple-pay-button-white-with-text {
    -apple-pay-button-style: white; }

  .apple-pay-button-white-with-line-with-text {
    -apple-pay-button-style: white-outline; } }
@supports not (-webkit-appearance: -apple-pay-button) {
  .apple-pay-button-with-text {
    --apple-pay-scale: 1;
    /* (height / 32) */
    display: inline-flex;
    justify-content: center;
    font-size: 12px;
    border-radius: 5px;
    box-sizing: border-box;
    min-width: 200px;
    min-height: 32px;
    max-height: 64px; }

  .apple-pay-button-black-with-text {
    background-color: black;
    color: white; }

  .apple-pay-button-white-with-text {
    background-color: white;
    color: black; }

  .apple-pay-button-white-with-line-with-text {
    background-color: white;
    color: black;
    border: .5px solid black; }

  .apple-pay-button-with-text.apple-pay-button-black-with-text > .logo {
    background-image: -webkit-named-image(apple-pay-logo-white);
    background-color: black; }

  .apple-pay-button-with-text.apple-pay-button-white-with-text > .logo {
    background-image: -webkit-named-image(apple-pay-logo-black);
    background-color: white; }

  .apple-pay-button-with-text.apple-pay-button-white-with-line-with-text > .logo {
    background-image: -webkit-named-image(apple-pay-logo-black);
    background-color: white; }

  .apple-pay-button-with-text > .text {
    font-family: -apple-system;
    font-size: calc(1em * var(--apple-pay-scale));
    font-weight: 300;
    align-self: center;
    margin-right: calc(2px * var(--apple-pay-scale)); }

  .apple-pay-button-with-text > .logo {
    width: calc(35px * var(--scale));
    height: 100%;
    background-size: 100% 60%;
    background-repeat: no-repeat;
    background-position: 0 50%;
    margin-left: calc(2px * var(--apple-pay-scale));
    border: none; } }

/*# sourceMappingURL=payment.css.map */
