<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Messenger payment</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/payment.css">
    <script>
        window.___gcfg = {
            lang: 'en-GB'
        };
    </script>
</head>
<body>
{% if is_users_payment %}
    {% if is_open_payment %}
        <div id="payment" class="payment"></div>
        <script src="/static/js/payment.js"></script>
        <script>
            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) {
                    return;
                }
                js = d.createElement(s);
                js.id = id;
                js.src = "https://connect.facebook.net/en_US/messenger.Extensions.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'Messenger'));

            window.onload = function () {
                if (window.makePaymentForm) {
                    window.makePaymentForm(document.getElementById("payment"), "{{ payment_id }}", function (payment_id, email) {
                        MessengerExtensions.requestCloseBrowser(function success() {
                            console.log("Closing payment window");
                        }, function error(err) {
                            console.error(err);
                        });
                    }, "{{ accepts_header | safe }}");
                }
            };
        </script>
    {% else %}
        <div class="payment">
            <h3>This payment has already been completed</h3>
        </div>
    {% endif %}
{% else %}
    <div class="payment">
        <h3>This payment is not intended for the currently signed in user</h3>
        <a href="{{ logout_url }}">Logout</a>
    </div>
{% endif %}
</body>
</html>
